In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão de Python Neste Jupyter Notebook:', python_version())

# usaremos o filtro 'waning' para deixar mais limpo.
import warnings
warnings.filterwarnings('ignore')

Versão de Python Neste Jupyter Notebook: 3.10.5

## Python Tutorial

In [2]:
import sys
import keyword
import operator 
from datetime import datetime
import os

### Keywords

In [3]:
# List all Python Keywords
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
# Python contains 35 keywords
len(keyword.kwlist)

35

### Identifiers

In [5]:
# Identifier can't start with a digit
1var=10

SyntaxError: invalid decimal literal (2957321654.py, line 2)

In [6]:
# Identifier can't use special symbols
val2@=35

NameError: name 'val2' is not defined

In [7]:
# Keywords can't be used as identifiers
import = 125

SyntaxError: invalid syntax (88190871.py, line 2)

In [8]:
"""
Correct way of defining an identifier
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase (
"""

val2 = 10

In [9]:
val_ = 99

### Comments in Python

In [10]:
# Single line comment
val1 = 10

In [11]:
# Multiple
# line
# comment
val1 = 10

In [12]:
'''
Multiple
line
comment
'''
val1 = 10

In [13]:
"""
Multiple
line
comment
"""
val1 = 10

### Statements

In [14]:
# Single line statement
p1 = 10 + 20 
p1

30

In [15]:
# Single line statement
p2 = ['a', 'b',
      'c', 'd']
p2

['a', 'b', 'c', 'd']

In [17]:
# Multiple line statement
p1 = 20 + 30 \
+ 40 + 50 + \
+ 70 + 80

p1

290

In [18]:
# Multiple line statement
p2 = ['a', 'b',
      'c', 'd']
p2

['a', 'b', 'c', 'd']

### Indentation

In [19]:
# correct indentation
p = 10
if p == 10:
    print('P is equal to 10')

P is equal to 10

In [20]:
p = 10
if p == 10:
print('P is equal to 10')

IndentationError: expected an indented block after 'if' statement on line 2 (647635225.py, line 3)

In [21]:
# correct indentation
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [22]:
for i in range(0, 5):
print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (842928024.py, line 2)

In [23]:
# correct indentation but less readable
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [24]:
j = 20

for i in range(0, 5):
    print(i) # inside the for loop

print(j)# outside the for loop

0
1
2
3
4
20

In [25]:
def square(num):
    '''Square Function :- This function will return the square of a number'''
    
    return num ** 2

In [26]:
square(2)

4

In [27]:
# We can access the Docstring using __doc__ method
square.__doc__

'Square Function :- This function will return the square of a number'

In [28]:
def evenodd(num):
    '''evenodd Function :- This function test whether a number is Even or Odd'''
    
    if num % 2 == 0:
        print('Even Number')
    
    else:
        print('Odd Number')

In [29]:
evenodd(3)

Odd Number

In [30]:
evenodd(6)

Even Number

In [31]:
evenodd.__doc__

'evenodd Function :- This function test whether a number is Even or Odd'

### Variables

In [32]:
p = 30

In [33]:
'''
id() function returns the “identity” of the object.
The identity of an object - Is an integer
- Guaranteed to be unique
- Constant for this object during its lifetime.
'''

id(p)

2879051465872

In [34]:
# Memory address of the variable
hex(id(p))

'0x29e54d70490'

In [35]:
p = 20
q = 20
r = q
p, type(p), hex((id(p)))

(20, int, '0x29e54d70350')

In [36]:
q, type(q), hex(id(q))

(20, int, '0x29e54d70350')

In [37]:
r, type(r), hex(id(r))

(20, int, '0x29e54d70350')

In [38]:
p = 20
p = p +10
p

30

#### Variable Assigment

In [39]:
intvar = 10 # integer variable
floatvar = 2.44 # float variable
strvar = 'Python'

print(intvar)
print(floatvar)
print(strvar)

10
2.44
Python

#### Multiple Assignments

In [40]:
intvar, floatvar, strvar = 10, 2.57, "Python Language"

print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [41]:
# All variables pointing to same value
p1 = p2 = p3 = p4 = 44

print(p1, p2, p3, p4)

44 44 44 44

### Data Types

#### Numeric

In [42]:
# integer data type
val1 = 10 

print(val1)
print(type(val1))
print(sys.getsizeof(val1))
print(val1, 'is Integer ?', isinstance(val1, int))

10
<class 'int'>
28
10 is Integer ? True

In [43]:
# integer data type
val2 = 99.4 

print(val2)
print(type(val2))
print(sys.getsizeof(val2))
print(val2, 'is Integer ?', isinstance(val2, float))

99.4
<class 'float'>
24
99.4 is Integer ? True

In [44]:
# integer data type
val3 = 90 + 10j 

print(val3)
print(type(val3))
print(sys.getsizeof(val3))
print(val3, 'is Integer ?', isinstance(val3, float))

(90+10j)
<class 'complex'>
32
(90+10j) is Integer ? False

In [45]:
sys.getsizeof(int())

24

In [46]:
sys.getsizeof(float())

24

In [47]:
sys.getsizeof(complex())

32

### Boolean

In [ ]:
bool1 = True

In [ ]:
bool2 = False

In [ ]:
print(type(bool1))

In [ ]:
print(type(bool2))

In [ ]:
isinstance(bool1, bool)

In [ ]:
bool(0)

In [ ]:
bool(1)

In [ ]:
bool(None)

In [ ]:
bool(False)

### Strings

#### String Creation

In [ ]:
str1 = "HELLO PYTHON"

print(str1)

In [ ]:
mystr = 'Hello World' # Define string using single quotes

print(mystr)

In [ ]:
mystr = "Hello World" # Define string using double quotes

print(mystr)

In [ ]:
mystr ='''Hello
          World ''' # Define string using triple quotes

print(mystr)

In [ ]:
mystr ="""Hello
          World""" # Define string using triple quotes

print(mystr)

In [ ]:
mystr = ('Happy '
         'Monday '
         'Everyone')

print(mystr)

In [ ]:
mystr2 = 'Woohoo '
mystr2 = mystr2 * 5
mystr2

In [ ]:
len(mystr2)  # Length of string

#### String Indexing

In [ ]:
str1

In [ ]:
str1[0] # First character in string "str1"

In [ ]:
str1[len(str1) - 1] # Last character in string using len function

In [ ]:
str1[- 1] # Last character in string

In [ ]:
str1[6] # Fetch 7th element of the string

In [ ]:
str1[5]

#### String Slicing

In [ ]:
str1[0: 5] # String slicing - Fetch all characters from 0 to 5

In [ ]:
str1[6: 12] # String slicing - Retreive all characters between 6 - 12

In [ ]:
str1[ - 4: ] # Retreive last four characters of the string

In [ ]:
str1[ - 6: ] # Retreive last six characters of the string

In [ ]:
str1[: 4] # Retreive first four characters of the string

In [ ]:
str1[: 6] # Retreive first six characters of the string

#### Update & Delete String

In [ ]:
str1

In [ ]:
str1[0: 5] = 'HOLAA'

In [ ]:
del str1 # Delete a string

print(srt1)

#### String concatenation

In [ ]:
# String concatenation
s1 = "Hello"
s2 = "Miranda"
s3 = s1 + s2

print(s3)

In [ ]:
# String concatenation
s1 = "Hello"
s2 = "Miranda"
s3 = s1 + " " + s2

print(s3)

#### Iterating through a String

In [ ]:
mystr1 = "Hello Everyone"

In [ ]:
# Iteration
for i in mystr1:
    print(i)

In [ ]:
for i in enumerate(mystr1):
    print(i)

In [ ]:
list(enumerate(mystr1)) # Enumerate method adds a counter

#### String Membership

In [ ]:
# String membership
mystr1 = "Hello Everyone"

print('Hello' in mystr1)
print('Everyone' in mystr1)
print('Hi' in mystr1)

#### String Partitioning

In [ ]:
str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and")

print(L)

In [ ]:
str5 = "Natural language processing with Python and R and Java"
L = str5.rpartition("and")

print(L)

#### String Functions

In [ ]:
mystr2 = " Hello Everyone "
mystr2

In [ ]:
mystr2.strip() # Removes white space from begining & end

In [ ]:
mystr2.rstrip() # Removes all whitespaces at the end of the string

In [ ]:
mystr2.lstrip() # Removes all whitespaces at the begining of the string

In [ ]:
mystr2 ="*********Hello Everyone***********All the Best**********"
mystr2

In [ ]:
mystr2.strip('*') # Removes all '*' characters from begining & end of the string

In [ ]:
mystr2.rstrip('*') # Removes all '*' characters at the end of the string

In [ ]:
mystr2.lstrip('*') # Removes all '*' characters at the begining of the string

In [ ]:
mystr2 = " Hello Everyone "

In [ ]:
mystr2.lower() # Return whole string in lowercase

In [ ]:
mystr2.upper() # Return whole string in uppercase

In [ ]:
mystr2.replace("He", "Ho") # Replace substring "He" with "Ho"

In [ ]:
mystr2.replace(" ","") # Remove all whitespaces using replace function

In [ ]:
mystr5 = "one two Three one two two three"

In [ ]:
mystr5.count("one") # Number of times substring "one" occurred in string.

In [ ]:
mystr5.count("two") # Number of times substring "two" occurred in string.

In [ ]:
mystr5.startswith("one")

In [ ]:
mystr5.endswith("three")

In [ ]:
mystr4 = 'one two three four\
      one two two three five\
         five six seven six \
          seven one one one \
        ten eight ten nine \
        eleven ten ten nine'

In [ ]:
mylist = mystr4.split() # Split String into substrings
mylist

In [ ]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77

res = "Cost of item1 , item2 and item3 are {} , {} and {}"
print(res.format(item1, item2, item3))

In [ ]:
# Combining string & numbers using format method
item1 = 40 
item2 = 55
item3 =77

res = "Cost of item3 , item2 and item1 are {2} , {1} and {0}"
print(res.format(item1, item2, item3))

In [ ]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100)

print(str2)

In [ ]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100, '*')# center align the string using a specific character

print(str2)

In [ ]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50) # Right align the string using a specific character as the

print(str2)

In [ ]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50, '*')

print(str2)

In [ ]:
str4 = "one two three four five six seven"

loc = str4.find("five") # Find the location of word 'five' in the string "str4"

print(loc)

In [ ]:
str4 = "one two three four five six seven"

loc = str4.index("five") # Find the location of word 'five' in the string "str4"

print(loc)

In [ ]:
mystr6 = '123456789'

print(mystr6.isalpha())
print(mystr6.isalnum())
print(mystr6.isdecimal())
print(mystr6.isnumeric())

In [ ]:
mystr6 = 'abcde'

print(mystr6.isalpha())
print(mystr6.isalnum())
print(mystr6.isdecimal())
print(mystr6.isnumeric())

In [ ]:
mystr6 = 'abc12309'

print(mystr6.isalpha())
print(mystr6.isalnum())
print(mystr6.isdecimal())
print(mystr6.isnumeric())

In [ ]:
mystr7 = 'ABCDEF'

print(mystr7.isupper())
print(mystr7.islower())

In [ ]:
mystr8 ='abcdef'

print(mystr8.isupper())
print(mystr8.islower())

In [ ]:
str6 = ['one', 'two', 'three', 'four', 'one', 'two', 'two', 'three', 'five', 'five', 'six', 'seven', 'six', 'seven', 'one', 'one', 'one', 'ten', 'eight', 'ten', 'nine', 'eleven', 'ten', 'ten', 'nine']
loc = str6.rfind("one")

print(loc)

In [ ]:
loc = str6.rindex("one")

print(loc)

In [ ]:
txt =" abc def ghi "

txt.rstrip()

#### Using Escape Character

In [ ]:
# Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is " Game of Thrones ""

In [ ]:
#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""

print(mystr)

### List

#### List Creation

In [ ]:
list1
=
[]
# Empty List

In [ ]:
print
(
type
(
list1
))

In [ ]:
list2
=
[
10
,
30
,
60
]
# List of integers numbers

In [ ]:
list3
=
[
10.77
,
30.66
,
60.89
]
# List of float numbers

In [ ]:
list4
=
[
'one'
,
'two'
,
"three"
]
# List of strings

In [ ]:
list5
=
[
'Asif'
,
25
,[
50
,
100
],[
150
,
90
]]
# Nested Lists

In [ ]:
list6
=
[
100
,
'Asif'
,
17.765
]
# List of mixed data types

In [ ]:
list7
=
[
'Asif'
,
25
,[
50
,
100
],[
150
,
90
] , {
'John'
,
'David'
}]

In [ ]:
len
(
list6
)
#Length of list

#### List Indexing

In [48]:
%reload_ext watermark
%watermark -a "Caique Miranda" -gu "caiquemiranda" -iv

Author: Caique Miranda

Github username: caiquemiranda

sys: 3.10.5 (tags/v3.10.5:f377153, Jun  6 2022, 16:14:13) [MSC v.1929 64 bit (AMD64)]

### End.