In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão de Python Neste Jupyter Notebook:', python_version())

# usaremos o filtro 'waning' para deixar mais limpo.
import warnings
warnings.filterwarnings('ignore')

Versão de Python Neste Jupyter Notebook: 3.10.5

## Python Tutorial

In [2]:
import sys
import keyword
import operator 
from datetime import datetime
import os

### Keywords

In [3]:
# List all Python Keywords
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
# Python contains 35 keywords
len(keyword.kwlist)

35

### Identifiers

In [5]:
# Identifier can't start with a digit
1var=10

SyntaxError: invalid decimal literal (2957321654.py, line 2)

In [6]:
# Identifier can't use special symbols
val2@=35

NameError: name 'val2' is not defined

In [7]:
# Keywords can't be used as identifiers
import = 125

SyntaxError: invalid syntax (88190871.py, line 2)

In [8]:
"""
Correct way of defining an identifier
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase (
"""

val2 = 10

In [9]:
val_ = 99

### Comments in Python

In [10]:
# Single line comment
val1 = 10

In [11]:
# Multiple
# line
# comment
val1 = 10

In [12]:
'''
Multiple
line
comment
'''
val1 = 10

In [13]:
"""
Multiple
line
comment
"""
val1 = 10

### Statements

In [14]:
# Single line statement
p1 = 10 + 20 
p1

30

In [15]:
# Single line statement
p2 = ['a', 'b',
      'c', 'd']
p2

['a', 'b', 'c', 'd']

In [16]:
# Multiple line statement
p1 = 20 + 30 \
+ 40 + 50 + \
+ 70 + 80

p1

290

In [17]:
# Multiple line statement
p2 = ['a', 'b',
      'c', 'd']
p2

['a', 'b', 'c', 'd']

### Indentation

In [18]:
# correct indentation
p = 10
if p == 10:
    print('P is equal to 10')

P is equal to 10

In [19]:
p = 10
if p == 10:
print('P is equal to 10')

IndentationError: expected an indented block after 'if' statement on line 2 (647635225.py, line 3)

In [20]:
# correct indentation
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [21]:
for i in range(0, 5):
print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (842928024.py, line 2)

In [22]:
# correct indentation but less readable
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [23]:
j = 20

for i in range(0, 5):
    print(i) # inside the for loop

print(j)# outside the for loop

0
1
2
3
4
20

In [24]:
def square(num):
    '''Square Function :- This function will return the square of a number'''
    
    return num ** 2

In [25]:
square(2)

4

In [26]:
# We can access the Docstring using __doc__ method
square.__doc__

'Square Function :- This function will return the square of a number'

In [27]:
def evenodd(num):
    '''evenodd Function :- This function test whether a number is Even or Odd'''
    
    if num % 2 == 0:
        print('Even Number')
    
    else:
        print('Odd Number')

In [28]:
evenodd(3)

Odd Number

In [29]:
evenodd(6)

Even Number

In [30]:
evenodd.__doc__

'evenodd Function :- This function test whether a number is Even or Odd'

### Variables

In [31]:
p = 30

In [32]:
'''
id() function returns the “identity” of the object.
The identity of an object - Is an integer
- Guaranteed to be unique
- Constant for this object during its lifetime.
'''

id(p)

2332933227664

In [33]:
# Memory address of the variable
hex(id(p))

'0x21f2da80490'

In [34]:
p = 20
q = 20
r = q
p, type(p), hex((id(p)))

(20, int, '0x21f2da80350')

In [35]:
q, type(q), hex(id(q))

(20, int, '0x21f2da80350')

In [36]:
r, type(r), hex(id(r))

(20, int, '0x21f2da80350')

In [37]:
p = 20
p = p +10
p

30

#### Variable Assigment

In [38]:
intvar = 10 # integer variable
floatvar = 2.44 # float variable
strvar = 'Python'

print(intvar)
print(floatvar)
print(strvar)

10
2.44
Python

#### Multiple Assignments

In [39]:
intvar, floatvar, strvar = 10, 2.57, "Python Language"

print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [40]:
# All variables pointing to same value
p1 = p2 = p3 = p4 = 44

print(p1, p2, p3, p4)

44 44 44 44

### Data Types

#### Numeric

In [41]:
# integer data type
val1 = 10 

print(val1)
print(type(val1))
print(sys.getsizeof(val1))
print(val1, 'is Integer ?', isinstance(val1, int))

10
<class 'int'>
28
10 is Integer ? True

In [42]:
# integer data type
val2 = 99.4 

print(val2)
print(type(val2))
print(sys.getsizeof(val2))
print(val2, 'is Integer ?', isinstance(val2, float))

99.4
<class 'float'>
24
99.4 is Integer ? True

In [43]:
# integer data type
val3 = 90 + 10j 

print(val3)
print(type(val3))
print(sys.getsizeof(val3))
print(val3, 'is Integer ?', isinstance(val3, float))

(90+10j)
<class 'complex'>
32
(90+10j) is Integer ? False

In [44]:
sys.getsizeof(int())

24

In [45]:
sys.getsizeof(float())

24

In [46]:
sys.getsizeof(complex())

32

### Boolean

In [47]:
bool1 = True

In [48]:
bool2 = False

In [49]:
print(type(bool1))

<class 'bool'>

In [50]:
print(type(bool2))

<class 'bool'>

In [51]:
isinstance(bool1, bool)

True

In [52]:
bool(0)

False

In [53]:
bool(1)

True

In [54]:
bool(None)

False

In [55]:
bool(False)

False

### Strings

#### String Creation

In [56]:
str1 = "HELLO PYTHON"

print(str1)

HELLO PYTHON

In [57]:
mystr = 'Hello World' # Define string using single quotes

print(mystr)

Hello World

In [58]:
mystr = "Hello World" # Define string using double quotes

print(mystr)

Hello World

In [59]:
mystr ='''Hello
          World ''' # Define string using triple quotes

print(mystr)

Hello
          World

In [60]:
mystr ="""Hello
          World""" # Define string using triple quotes

print(mystr)

Hello
          World

In [61]:
mystr = ('Happy '
         'Monday '
         'Everyone')

print(mystr)

Happy Monday Everyone

In [62]:
mystr2 = 'Woohoo '
mystr2 = mystr2 * 5
mystr2

'Woohoo Woohoo Woohoo Woohoo Woohoo '

In [63]:
len(mystr2)  # Length of string

35

#### String Indexing

In [64]:
str1

'HELLO PYTHON'

In [65]:
str1[0] # First character in string "str1"

'H'

In [66]:
str1[len(str1) - 1] # Last character in string using len function

'N'

In [67]:
str1[- 1] # Last character in string

'N'

In [68]:
str1[6] # Fetch 7th element of the string

'P'

In [69]:
str1[5]

' '

#### String Slicing

In [70]:
str1[0: 5] # String slicing - Fetch all characters from 0 to 5

'HELLO'

In [71]:
str1[6: 12] # String slicing - Retreive all characters between 6 - 12

'PYTHON'

In [72]:
str1[ - 4: ] # Retreive last four characters of the string

'THON'

In [73]:
str1[ - 6: ] # Retreive last six characters of the string

'PYTHON'

In [74]:
str1[: 4] # Retreive first four characters of the string

'HELL'

In [75]:
str1[: 6] # Retreive first six characters of the string

'HELLO '

#### Update & Delete String

In [76]:
str1

'HELLO PYTHON'

In [77]:
str1[0: 5] = 'HOLAA'

TypeError: 'str' object does not support item assignment

In [78]:
del str1 # Delete a string

print(srt1)

NameError: name 'srt1' is not defined

#### String concatenation

In [79]:
# String concatenation
s1 = "Hello"
s2 = "Miranda"
s3 = s1 + s2

print(s3)

HelloMiranda

In [80]:
# String concatenation
s1 = "Hello"
s2 = "Miranda"
s3 = s1 + " " + s2

print(s3)

Hello Miranda

#### Iterating through a String

In [81]:
mystr1 = "Hello Everyone"

In [82]:
# Iteration
for i in mystr1:
    print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [83]:
for i in enumerate(mystr1):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [84]:
list(enumerate(mystr1)) # Enumerate method adds a counter

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

#### String Membership

In [85]:
# String membership
mystr1 = "Hello Everyone"

print('Hello' in mystr1)
print('Everyone' in mystr1)
print('Hi' in mystr1)

True
True
False

#### String Partitioning

In [86]:
str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and")

print(L)

('Natural language processing with Python ', 'and', ' R and Java')

In [87]:
str5 = "Natural language processing with Python and R and Java"
L = str5.rpartition("and")

print(L)

('Natural language processing with Python and R ', 'and', ' Java')

#### String Functions

In [88]:
mystr2 = " Hello Everyone "
mystr2

' Hello Everyone '

In [89]:
mystr2.strip() # Removes white space from begining & end

'Hello Everyone'

In [90]:
mystr2.rstrip() # Removes all whitespaces at the end of the string

' Hello Everyone'

In [91]:
mystr2.lstrip() # Removes all whitespaces at the begining of the string

'Hello Everyone '

In [92]:
mystr2 ="*********Hello Everyone***********All the Best**********"
mystr2

'*********Hello Everyone***********All the Best**********'

In [93]:
mystr2.strip('*') # Removes all '*' characters from begining & end of the string

'Hello Everyone***********All the Best'

In [94]:
mystr2.rstrip('*') # Removes all '*' characters at the end of the string

'*********Hello Everyone***********All the Best'

In [95]:
mystr2.lstrip('*') # Removes all '*' characters at the begining of the string

'Hello Everyone***********All the Best**********'

In [96]:
mystr2 = " Hello Everyone "

In [97]:
mystr2.lower() # Return whole string in lowercase

' hello everyone '

In [98]:
mystr2.upper() # Return whole string in uppercase

' HELLO EVERYONE '

In [99]:
mystr2.replace("He", "Ho") # Replace substring "He" with "Ho"

' Hollo Everyone '

In [100]:
mystr2.replace(" ","") # Remove all whitespaces using replace function

'HelloEveryone'

In [101]:
mystr5 = "one two Three one two two three"

In [102]:
mystr5.count("one") # Number of times substring "one" occurred in string.

2

In [103]:
mystr5.count("two") # Number of times substring "two" occurred in string.

3

In [104]:
mystr5.startswith("one")

True

In [105]:
mystr5.endswith("three")

True

In [106]:
mystr4 = 'one two three four\
      one two two three five\
         five six seven six \
          seven one one one \
        ten eight ten nine \
        eleven ten ten nine'

In [107]:
mylist = mystr4.split() # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one',
 'one',
 'ten',
 'eight',
 'ten',
 'nine',
 'eleven',
 'ten',
 'ten',
 'nine']

In [108]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77

res = "Cost of item1 , item2 and item3 are {} , {} and {}"
print(res.format(item1, item2, item3))

Cost of item1 , item2 and item3 are 40 , 55 and 77

In [109]:
# Combining string & numbers using format method
item1 = 40 
item2 = 55
item3 =77

res = "Cost of item3 , item2 and item1 are {2} , {1} and {0}"
print(res.format(item1, item2, item3))

Cost of item3 , item2 and item1 are 77 , 55 and 40

In [110]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100)

print(str2)

                                          WELCOME EVERYONE

In [111]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100, '*')# center align the string using a specific character

print(str2)

***************************************** WELCOME EVERYONE *****************************************

In [112]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50) # Right align the string using a specific character as the

print(str2)

                                 WELCOME EVERYONE

In [113]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50, '*')

print(str2)

******************************** WELCOME EVERYONE

In [114]:
str4 = "one two three four five six seven"

loc = str4.find("five") # Find the location of word 'five' in the string "str4"

print(loc)

19

In [115]:
str4 = "one two three four five six seven"

loc = str4.index("five") # Find the location of word 'five' in the string "str4"

print(loc)

19

In [116]:
mystr6 = '123456789'

print(mystr6.isalpha())
print(mystr6.isalnum())
print(mystr6.isdecimal())
print(mystr6.isnumeric())

False
True
True
True

In [117]:
mystr6 = 'abcde'

print(mystr6.isalpha())
print(mystr6.isalnum())
print(mystr6.isdecimal())
print(mystr6.isnumeric())

True
True
False
False

In [118]:
mystr6 = 'abc12309'

print(mystr6.isalpha())
print(mystr6.isalnum())
print(mystr6.isdecimal())
print(mystr6.isnumeric())

False
True
False
False

In [119]:
mystr7 = 'ABCDEF'

print(mystr7.isupper())
print(mystr7.islower())

True
False

In [120]:
mystr8 ='abcdef'

print(mystr8.isupper())
print(mystr8.islower())

False
True

In [123]:
str6 = ['one', 'two', 'three', 
        'four', 'one', 'two', 
        'two', 'three', 'five',
        'five', 'six', 'seven',
        'six', 'seven', 'one',
        'one', 'one', 'ten',
        'eight', 'ten', 'nine',
        'eleven', 'ten', 'ten', 'nine']

In [124]:
txt =" abc def ghi "

txt.rstrip()

' abc def ghi'

#### Using Escape Character

In [125]:
# Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is " Game of Thrones ""

SyntaxError: invalid syntax (791031631.py, line 2)

In [126]:
#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""

print(mystr)

My favourite series is "Game of Thrones"

### List

#### List Creation

In [127]:
list1 = [] # Empty List

In [128]:
print(type(list1))

<class 'list'>

In [129]:
list2 = [10, 30, 60] # List of integers numbers

In [130]:
list3 = [10.77, 30.66, 60.89] # List of float numbers

In [131]:
list4 =['one', 'two', "three"] # List of strings

In [132]:
list5 =['Miranda', 
        25, 
        [50, 100],
        [150,90]] # Nested Lists

In [133]:
list6 = [100, 
         'Miranda',
         17.765] # List of mixed data types

In [134]:
list7 = ['Miranda',
         25,
         [50, 100],
         [150, 90],
         {'John','David'}]

In [ ]:
len(list) # Length of list

#### List Indexing

In [136]:
list2[0] # Retreive first element of the list

10

In [137]:
list4[0] # Retreive first element of the list

'one'

In [138]:
list4[0][0] # Nested indexing

'o'

In [139]:
list4[ - 1] # Last item of the list

'three'

In [140]:
list5[ - 1] # Last item of the list

[150, 90]

#### List Slicing

In [141]:
mylist = ['one' ,'two',
          'three' , 'four',
          'five', 'six',
          'seven', 'eight']

In [142]:
mylist[0: 3]

['one', 'two', 'three']

In [143]:
mylist[2: 5]

['three', 'four', 'five']

In [144]:
mylist[: 3]

['one', 'two', 'three']

In [145]:
mylist[: 2]

['one', 'two']

In [146]:
mylist[ - 3: ]

['six', 'seven', 'eight']

In [147]:
mylist[ - 2: ]

['seven', 'eight']

In [148]:
mylist[ - 1]

'eight'

In [149]:
mylist[:]

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

#### Add , Remove & Change Items

In [ ]:
mylist

In [ ]:
mylist.append('nine') # Add an item to the end of the list

In [ ]:
mylist

In [150]:
%reload_ext watermark
%watermark -a "Caique Miranda" -gu "caiquemiranda" -iv

Author: Caique Miranda

Github username: caiquemiranda

sys: 3.10.5 (tags/v3.10.5:f377153, Jun  6 2022, 16:14:13) [MSC v.1929 64 bit (AMD64)]

### End.