In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão de Python Neste Jupyter Notebook:', python_version())

# usaremos o filtro 'waning' para deixar mais limpo.
import warnings
warnings.filterwarnings('ignore')

Versão de Python Neste Jupyter Notebook: 3.10.5

## Python Tutorial

In [2]:
import sys
import keyword
import operator 
from datetime import datetime
import os

### Keywords

In [3]:
# List all Python Keywords
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
# Python contains 35 keywords
len(keyword.kwlist)

35

### Identifiers

In [5]:
# Identifier can't start with a digit
1var=10

SyntaxError: invalid decimal literal (2957321654.py, line 2)

In [6]:
# Identifier can't use special symbols
val2@=35

NameError: name 'val2' is not defined

In [7]:
# Keywords can't be used as identifiers
import = 125

SyntaxError: invalid syntax (88190871.py, line 2)

In [8]:
val2 = 10

In [9]:
val_ = 99

### Comments in Python

In [10]:
# Single line comment
val1 = 10

In [11]:
# Multiple
# line
# comment
val1 = 10

In [12]:
'''
Multiple
line
comment
'''
val1 = 10

In [13]:
"""
Multiple
line
comment
"""
val1 = 10

### Statements

In [14]:
# Single line statement
p1 = 10 + 20 
p1

30

In [15]:
# Single line statement
p2 = ['a', 'b',
      'c', 'd']
p2

['a', 'b', 'c', 'd']

In [16]:
# Multiple line statement
p1 = 20 + 30 \
+ 40 + 50 + \
+ 70 + 80

p1

290

In [17]:
# Multiple line statement
p2 = ['a', 'b',
      'c', 'd']
p2

['a', 'b', 'c', 'd']

### Indentation

In [18]:
# correct indentation
p = 10
if p == 10:
    print('P is equal to 10')

P is equal to 10

In [19]:
p = 10
if p == 10:
print('P is equal to 10')

IndentationError: expected an indented block after 'if' statement on line 2 (647635225.py, line 3)

In [20]:
# correct indentation
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [21]:
for i in range(0, 5):
print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (842928024.py, line 2)

In [22]:
# correct indentation but less readable
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [23]:
j = 20

for i in range(0, 5):
    print(i) # inside the for loop

print(j)# outside the for loop

0
1
2
3
4
20

In [24]:
def square(num):
    '''Square Function :- This function will return the square of a number'''
    
    return num ** 2

In [25]:
square(2)

4

In [26]:
# We can access the Docstring using __doc__ method
square.__doc__

'Square Function :- This function will return the square of a number'

In [27]:
def evenodd(num):
    '''evenodd Function :- This function test whether a number is Even or Odd'''
    
    if num % 2 == 0:
        print('Even Number')
    
    else:
        print('Odd Number')

In [28]:
evenodd(3)

Odd Number

In [29]:
evenodd(6)

Even Number

In [30]:
evenodd.__doc__

'evenodd Function :- This function test whether a number is Even or Odd'

### Variables

In [31]:
p = 30

In [32]:
'''
id() function returns the “identity” of the object.
The identity of an object - Is an integer
- Guaranteed to be unique
- Constant for this object during its lifetime.
'''

id(p)

2109488366736

In [33]:
# Memory address of the variable
hex(id(p))

'0x1eb274e0490'

In [34]:
p = 20
q = 20
r = q
p, type(p), hex((id(p)))

(20, int, '0x1eb274e0350')

In [35]:
q, type(q), hex(id(q))

(20, int, '0x1eb274e0350')

In [36]:
r, type(r), hex(id(r))

(20, int, '0x1eb274e0350')

In [37]:
p = 20
p = p +10
p

30

#### Variable Assigment

In [38]:
intvar = 10 # integer variable
floatvar = 2.44 # float variable
strvar = 'Python'

print(intvar)
print(floatvar)
print(strvar)

10
2.44
Python

#### Multiple Assignments

In [39]:
intvar, floatvar, strvar = 10, 2.57, "Python Language"

print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [40]:
# All variables pointing to same value
p1 = p2 = p3 = p4 = 44

print(p1, p2, p3, p4)

44 44 44 44

### Data Types

#### Numeric

In [41]:
# integer data type
val1 = 10 

print(val1)
print(type(val1))
print(sys.getsizeof(val1))
print(val1, 'is Integer ?', isinstance(val1, int))

10
<class 'int'>
28
10 is Integer ? True

In [42]:
# integer data type
val2 = 99.4 

print(val2)
print(type(val2))
print(sys.getsizeof(val2))
print(val2, 'is Integer ?', isinstance(val2, float))

99.4
<class 'float'>
24
99.4 is Integer ? True

In [43]:
# integer data type
val3 = 90 + 10j 

print(val3)
print(type(val3))
print(sys.getsizeof(val3))
print(val3, 'is Integer ?', isinstance(val3, float))

(90+10j)
<class 'complex'>
32
(90+10j) is Integer ? False

In [44]:
sys.getsizeof(int())

24

In [45]:
sys.getsizeof(float())

24

In [46]:
sys.getsizeof(complex())

32

### Boolean

In [47]:
bool1 = True

In [48]:
bool2 = False

In [49]:
print(type(bool1))

<class 'bool'>

In [50]:
print(type(bool2))

<class 'bool'>

In [51]:
isinstance(bool1, bool)

True

In [52]:
bool(0)

False

In [53]:
bool(1)

True

In [54]:
bool(None)

False

In [55]:
bool(False)

False

### Strings

#### String Creation

In [56]:
str1 = "HELLO PYTHON"

print(str1)

HELLO PYTHON

In [57]:
mystr = 'Hello World' # Define string using single quotes

print(mystr)

Hello World

In [58]:
mystr = "Hello World" # Define string using double quotes

print(mystr)

Hello World

In [59]:
mystr ='''Hello
          World ''' # Define string using triple quotes

print(mystr)

Hello
          World

In [60]:
mystr ="""Hello
          World""" # Define string using triple quotes

print(mystr)

Hello
          World

In [61]:
mystr = ('Happy '
         'Monday '
         'Everyone')

print(mystr)

Happy Monday Everyone

In [62]:
mystr2 = 'Woohoo '
mystr2 = mystr2 * 5
mystr2

'Woohoo Woohoo Woohoo Woohoo Woohoo '

In [63]:
len(mystr2)  # Length of string

35

#### String Indexing

In [64]:
str1

'HELLO PYTHON'

In [65]:
str1[0] # First character in string "str1"

'H'

In [66]:
str1[len(str1) - 1] # Last character in string using len function

'N'

In [67]:
str1[- 1] # Last character in string

'N'

In [68]:
str1[6] # Fetch 7th element of the string

'P'

In [69]:
str1[5]

' '

#### String Slicing

In [70]:
str1[0: 5] # String slicing - Fetch all characters from 0 to 5

'HELLO'

In [71]:
str1[6: 12] # String slicing - Retreive all characters between 6 - 12

'PYTHON'

In [72]:
str1[ - 4: ] # Retreive last four characters of the string

'THON'

In [73]:
str1[ - 6: ] # Retreive last six characters of the string

'PYTHON'

In [74]:
str1[: 4] # Retreive first four characters of the string

'HELL'

In [75]:
str1[: 6] # Retreive first six characters of the string

'HELLO '

#### Update & Delete String

In [76]:
str1

'HELLO PYTHON'

In [77]:
str1[0: 5] = 'HOLAA'

TypeError: 'str' object does not support item assignment

In [78]:
del str1 # Delete a string

print(srt1)

NameError: name 'srt1' is not defined

#### String concatenation

In [79]:
# String concatenation
s1 = "Hello"
s2 = "Miranda"
s3 = s1 + s2

print(s3)

HelloMiranda

In [80]:
# String concatenation
s1 = "Hello"
s2 = "Miranda"
s3 = s1 + " " + s2

print(s3)

Hello Miranda

#### Iterating through a String

In [81]:
mystr1 = "Hello Everyone"

In [82]:
# Iteration
for i in mystr1:
    print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [83]:
for i in enumerate(mystr1):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [84]:
list(enumerate(mystr1)) # Enumerate method adds a counter

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

#### String Membership

In [85]:
# String membership
mystr1 = "Hello Everyone"

print('Hello' in mystr1)
print('Everyone' in mystr1)
print('Hi' in mystr1)

True
True
False

#### String Partitioning

In [86]:
str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and")

print(L)

('Natural language processing with Python ', 'and', ' R and Java')

In [87]:
str5 = "Natural language processing with Python and R and Java"
L = str5.rpartition("and")

print(L)

('Natural language processing with Python and R ', 'and', ' Java')

#### String Functions

In [88]:
mystr2 = " Hello Everyone "
mystr2

' Hello Everyone '

In [89]:
mystr2.strip() # Removes white space from begining & end

'Hello Everyone'

In [90]:
mystr2.rstrip() # Removes all whitespaces at the end of the string

' Hello Everyone'

In [91]:
mystr2.lstrip() # Removes all whitespaces at the begining of the string

'Hello Everyone '

In [92]:
mystr2 ="*********Hello Everyone***********All the Best**********"
mystr2

'*********Hello Everyone***********All the Best**********'

In [93]:
mystr2.strip('*') # Removes all '*' characters from begining & end of the string

'Hello Everyone***********All the Best'

In [94]:
mystr2.rstrip('*') # Removes all '*' characters at the end of the string

'*********Hello Everyone***********All the Best'

In [95]:
mystr2.lstrip('*') # Removes all '*' characters at the begining of the string

'Hello Everyone***********All the Best**********'

In [96]:
mystr2 = " Hello Everyone "

In [97]:
mystr2.lower() # Return whole string in lowercase

' hello everyone '

In [98]:
mystr2.upper() # Return whole string in uppercase

' HELLO EVERYONE '

In [99]:
mystr2.replace("He", "Ho") # Replace substring "He" with "Ho"

' Hollo Everyone '

In [100]:
mystr2.replace(" ","") # Remove all whitespaces using replace function

'HelloEveryone'

In [101]:
mystr5 = "one two Three one two two three"

In [102]:
mystr5.count("one") # Number of times substring "one" occurred in string.

2

In [103]:
mystr5.count("two") # Number of times substring "two" occurred in string.

3

In [104]:
mystr5.startswith("one")

True

In [105]:
mystr5.endswith("three")

True

In [106]:
mystr4 = 'one two three four\
      one two two three five\
         five six seven six \
          seven one one one \
        ten eight ten nine \
        eleven ten ten nine'

In [107]:
mylist = mystr4.split() # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one',
 'one',
 'ten',
 'eight',
 'ten',
 'nine',
 'eleven',
 'ten',
 'ten',
 'nine']

In [108]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77

res = "Cost of item1 , item2 and item3 are {} , {} and {}"
print(res.format(item1, item2, item3))

Cost of item1 , item2 and item3 are 40 , 55 and 77

In [109]:
# Combining string & numbers using format method
item1 = 40 
item2 = 55
item3 =77

res = "Cost of item3 , item2 and item1 are {2} , {1} and {0}"
print(res.format(item1, item2, item3))

Cost of item3 , item2 and item1 are 77 , 55 and 40

In [110]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100)

print(str2)

                                          WELCOME EVERYONE

In [111]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100, '*')# center align the string using a specific character

print(str2)

***************************************** WELCOME EVERYONE *****************************************

In [112]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50) # Right align the string using a specific character as the

print(str2)

                                 WELCOME EVERYONE

In [113]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50, '*')

print(str2)

******************************** WELCOME EVERYONE

In [114]:
str4 = "one two three four five six seven"

loc = str4.find("five") # Find the location of word 'five' in the string "str4"

print(loc)

19

In [115]:
str4 = "one two three four five six seven"

loc = str4.index("five") # Find the location of word 'five' in the string "str4"

print(loc)

19

In [116]:
mystr6 = '123456789'

print(mystr6.isalpha())
print(mystr6.isalnum())
print(mystr6.isdecimal())
print(mystr6.isnumeric())

False
True
True
True

In [117]:
mystr6 = 'abcde'

print(mystr6.isalpha())
print(mystr6.isalnum())
print(mystr6.isdecimal())
print(mystr6.isnumeric())

True
True
False
False

In [118]:
mystr6 = 'abc12309'

print(mystr6.isalpha())
print(mystr6.isalnum())
print(mystr6.isdecimal())
print(mystr6.isnumeric())

False
True
False
False

In [119]:
mystr7 = 'ABCDEF'

print(mystr7.isupper())
print(mystr7.islower())

True
False

In [120]:
mystr8 ='abcdef'

print(mystr8.isupper())
print(mystr8.islower())

False
True

In [121]:
str6 = ['one', 'two', 'three', 
        'four', 'one', 'two', 
        'two', 'three', 'five',
        'five', 'six', 'seven',
        'six', 'seven', 'one',
        'one', 'one', 'ten',
        'eight', 'ten', 'nine',
        'eleven', 'ten', 'ten', 'nine']

In [122]:
txt =" abc def ghi "

txt.rstrip()

' abc def ghi'

#### Using Escape Character

In [123]:
# Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is " Game of Thrones ""

SyntaxError: invalid syntax (791031631.py, line 2)

In [124]:
#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""

print(mystr)

My favourite series is "Game of Thrones"

### List

#### List Creation

In [125]:
list1 = [] # Empty List

In [126]:
print(type(list1))

<class 'list'>

In [127]:
list2 = [10, 30, 60] # List of integers numbers

In [128]:
list3 = [10.77, 30.66, 60.89] # List of float numbers

In [129]:
list4 =['one', 'two', "three"] # List of strings

In [130]:
list5 =['Miranda', 
        25, 
        [50, 100],
        [150,90]] # Nested Lists

In [131]:
list6 = [100, 
         'Miranda',
         17.765] # List of mixed data types

In [132]:
list7 = ['Miranda',
         25,
         [50, 100],
         [150, 90],
         {'John','David'}]

In [133]:
len(list) # Length of list

TypeError: object of type 'type' has no len()

#### List Indexing

In [134]:
list2[0] # Retreive first element of the list

10

In [135]:
list4[0] # Retreive first element of the list

'one'

In [136]:
list4[0][0] # Nested indexing

'o'

In [137]:
list4[ - 1] # Last item of the list

'three'

In [138]:
list5[ - 1] # Last item of the list

[150, 90]

#### List Slicing

In [139]:
mylist = ['one' ,'two',
          'three' , 'four',
          'five', 'six',
          'seven', 'eight']

In [140]:
mylist[0: 3]

['one', 'two', 'three']

In [141]:
mylist[2: 5]

['three', 'four', 'five']

In [142]:
mylist[: 3]

['one', 'two', 'three']

In [143]:
mylist[: 2]

['one', 'two']

In [144]:
mylist[ - 3: ]

['six', 'seven', 'eight']

In [145]:
mylist[ - 2: ]

['seven', 'eight']

In [146]:
mylist[ - 1]

'eight'

In [147]:
mylist[:]

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

#### Add , Remove & Change Items

In [148]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [149]:
mylist.append('nine') # Add an item to the end of the list

In [150]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [151]:
mylist.insert(9, 'ten') # Add item at index location 9

In [152]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [153]:
mylist.insert(1, 'ONE') # Add item at index location 1

In [154]:
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [155]:
mylist.remove('ONE') # Remove item "ONE"

In [156]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [157]:
mylist.pop() # Remove last item of the list

'ten'

In [158]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [159]:
mylist.pop(8) # Remove item at index location 8

'nine'

In [160]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [161]:
del mylist[7] # Remove item at index location 7

In [162]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [163]:
# Change value of the string

mylist[0] = 1
mylist[1] = 2
mylist[2] = 3

In [164]:
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [165]:
mylist.clear() # Empty List / Delete all items in the list

In [166]:
mylist

[]

In [167]:
del mylist # Delete the whole list

In [168]:
mylist

NameError: name 'mylist' is not defined

#### Copy List

In [169]:
mylist = ['one' ,'two',
          'three' , 'four',
          'five', 'six',
          'seven', 'eight']

In [170]:
mylist1 = mylist # Create a new reference "mylist1"

In [171]:
id(mylist) ,id(mylist1)

(2109597228288, 2109597228288)

In [172]:
mylist2 = mylist.copy() # Create a copy of the list

In [173]:
id(mylist2) # The address of mylist2

2109596555776

In [174]:
mylist[0] = 1

In [175]:
mylist1 # mylist1 will be also impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [176]:
mylist2

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

#### Join Lists

In [177]:
list1 = ['one', 'two',
        'three' 'four']

list2 = ['five', 'six',
         'seven', 'eight']

In [178]:
list3 = list1 + list2 # Join two lists by '+' operator
list3

['one', 'two', 'threefour', 'five', 'six', 'seven', 'eight']

In [179]:
list1.extend(list2) # Append list2 with list1
list1

['one', 'two', 'threefour', 'five', 'six', 'seven', 'eight']

#### List Membership

In [180]:
list1

['one', 'two', 'threefour', 'five', 'six', 'seven', 'eight']

In [181]:
'one' in list1 # Check if 'one' exist in the list

True

In [182]:
'ten' in list1 # Check if 'ten' exist in the list

False

In [183]:
if 'three' in list1: # Check if 'three' exist in the list
    print('Three is present in the list')
else:
    print('Three is not present in the list')

Three is not present in the list

In [184]:
if 'eleven' in list1 : # Check if 'eleven' exist in the list
    print('eleven is present in the list')
else:
    print('eleven is not present in the list')

eleven is not present in the list

#### Reverse & Sort List

In [185]:
list1

['one', 'two', 'threefour', 'five', 'six', 'seven', 'eight']

In [186]:
list1.reverse() # Reverse the list
list1

['eight', 'seven', 'six', 'five', 'threefour', 'two', 'one']

In [187]:
list1 = list1[:: -1] # Reverse the list
list1

['one', 'two', 'threefour', 'five', 'six', 'seven', 'eight']

In [188]:
mylist3 = [9, 5, 2, 99, 12, 88, 34]
mylist3.sort() # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [189]:
mylist3 = [9, 5, 2, 99, 12, 88, 34]
mylist3.sort(reverse = True) # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [190]:
mylist4 = [88, 65, 33, 21, 11, 98]
sorted(mylist4)

[11, 21, 33, 65, 88, 98]

In [191]:
mylist4

[88, 65, 33, 21, 11, 98]

#### Loop through a list

In [192]:
list1

['one', 'two', 'threefour', 'five', 'six', 'seven', 'eight']

In [193]:
for i in list1:
    print(i)

one
two
threefour
five
six
seven
eight

In [194]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'threefour')
(3, 'five')
(4, 'six')
(5, 'seven')
(6, 'eight')

In [195]:
list10 = ['one', 'two', 'three', 'four',
          'one', 'one', 'two', 'three']

In [196]:
list10.count('one') # Number of times item "one" occurred in the list.

3

In [197]:
list10.count('two') # Occurence of item 'two' in the list

2

In [198]:
list10.count('four') # Occurence of item 'four' in the list

1

#### All / Any

The `all()` method returns:

- True - If all elements in a list are true
- False - If any element in a list is false

In [199]:
L1 = [1, 2, 3, 4, 0]

In [200]:
all(L1) # Will Return false as one value is false (Value 0)

False

In [201]:
any(L1) # Will Return True as we have items in the list with True value

True

In [202]:
L2 = [1, 2, 3, 4, True, False]

In [203]:
all(L2) # Returns false as one value is false

False

In [204]:
any(L2) # Will Return True as we have items in the list with True value

True

In [205]:
L3 = [1, 2, 3, True]

In [206]:
all(L3) # Will return True as all items in the list are True

True

In [207]:
any(L3) # Will Return True as we have items in the list with True value

True

#### List Comprehensions

In [208]:
mystring = "WELCOME"
mylist = [i for i in mystring] # Iterating through a string Using List Comprehe
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [209]:
mylist1 = [i for i in range(40) if i %2 == 0] # Display all even numbers betwee
mylist1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [210]:
mylist2 = [i for i in range(40) if i %2 == 1] # Display all odd numbers between
mylist2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [211]:
mylist3 = [num ** 2 for num in range(10)] # calculate square of all numbers between
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### [expression for item in list]
#### [num**2 for num in range(10)]

In [212]:
# Multiple whole list by 10 
list1 = [2, 3, 4, 5, 6, 7, 8]
list1 = [i * 10 for i in list1]
list1

[20, 30, 40, 50, 60, 70, 80]

In [213]:
#List all numbers divisible by 3 , 9 & 12 using nested "if" with List Comprehensi
mylist4 = [i for i in range(200) if i %3 == 0 if i % 9 == 0 if i %12 == 0]
mylist4

[0, 36, 72, 108, 144, 180]

In [214]:
l1 = [print(f"{i} is Even Number") if i %2 == 0 else print(f"{i} is odd number") for i in range(10)]

0 is Even Number
1 is odd number
2 is Even Number
3 is odd number
4 is Even Number
5 is odd number
6 is Even Number
7 is odd number
8 is Even Number
9 is odd number

In [215]:
# Extract numbers from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isdigit()]
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [216]:
# Extract letters from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isalpha()]
numbers

['O',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 'f',
 'i',
 'v',
 'e',
 's',
 'i',
 'x']

### Tuples

#### Tuple Creation

In [217]:
tup1 = () # Empty tuple

In [218]:
tup2 = (10, 30, 60) # tuple of integers numbers

In [219]:
tup3 = (10.77, 30.66, 60.89) # tuple of float numbers

In [220]:
tup4 = ('one', 'two', "three") # tuple of strings

In [221]:
tup5 = ('Miranda', 25 , (50, 100), (150, 90)) # Nested tuples

In [222]:
tup6 = (100, 'Miranda' ,17.765) # Tuple of mixed data types

In [223]:
tup7 = ('Miranda', 25, 
        [50, 100], 
        [150, 90], {'João',
                    'Davi'},
        (99, 22, 33))

In [224]:
len(tup7) # Length of list

6

#### Tuple Indexing

In [225]:
tup2[0] # Retreive first element of the tuple

10

In [226]:
tup4[0] # Retreive first element of the tuple

'one'

In [227]:
tup4[0][0]

'o'

In [228]:
tup4[ -1] # Last item of the tuple

'three'

In [229]:
tup5[ -1] # Last item of the tuple

(150, 90)

#### Tuple Slicing

In [230]:
mytuple = ('one', 'two', 
           'three', 'four',
           'five', 'six', 
           'seven', 'eight')

In [231]:
mytuple[0: 3]

('one', 'two', 'three')

In [232]:
mytuple[2: 5]

('three', 'four', 'five')

In [233]:
mytuple[: 3] # Return first three items

('one', 'two', 'three')

In [234]:
mytuple[: 2] # Return first two items

('one', 'two')

In [235]:
mytuple[ -3:] # Return last three items

('six', 'seven', 'eight')

In [236]:
mytuple[ -2:] # Return last two items

('seven', 'eight')

In [237]:
mytuple[ -1] # Return last item of the tuple

'eight'

In [238]:
mytuple[:] # Return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

#### Remove & Change Items

In [239]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [240]:
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [241]:
mytuple[0] = 1

TypeError: 'tuple' object does not support item assignment

In [242]:
del mytuple

#### Loop through a tuple

In [243]:
mytuple = ('one', 'two', 
           'three', 'four',
           'five', 'six', 
           'seven', 'eight')

In [244]:
for i  in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [245]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

#### Count

In [246]:
mytuple1 = ('one', 'two',
            'three', 'four',
            'one', 'one',
            'two','three')

In [247]:
mytuple1.count('one') # Number of times item "one" occurred in the tuple.

3

In [248]:
mytuple1.count('two') # Occurence of item 'two' in the tuple

2

In [249]:
mytuple1.count('four') # Occurence of item 'four' in the tuple

1

#### Tuple Membership

In [250]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [251]:
'one' in mytuple # Check if 'one' exist in the list

True

In [252]:
'ten' in mytuple # Check if 'ten' exist in the list

False

In [253]:
if 'three' in mytuple: # Check if 'three' exist in the list
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [254]:
if 'eleven' in mytuple: # Check if 'eleven' exist in the list
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

#### Index Position

In [255]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [256]:
mytuple.index('one') # Index of first element equal to 'one'

0

In [257]:
mytuple.index('five') # Index of first element equal to 'five'

4

In [258]:
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [259]:
mytuple1.index('one') # Index of first element equal to 'one'

0

#### Sorting

In [260]:
mytuple2 = (43, 67, 99, 12, 6, 90, 67)

In [261]:
sorted(mytuple2)

[6, 12, 43, 67, 67, 90, 99]

In [262]:
sorted(mytuple2, reverse = True) # Sort in descending order

[99, 90, 67, 67, 43, 12, 6]

### Sets

#### Set Creation

In [263]:
myset = {1, 2, 3, 4, 5} # Set of numbers
myset

{1, 2, 3, 4, 5}

In [264]:
myset = {1, 2, 3, 4, 5} # Set of numbers
myset

{1, 2, 3, 4, 5}

In [265]:
my_set = {1, 1, 2, 2, 3, 4, 5, 5}
my_set  # Duplicate elements are not allowed.

{1, 2, 3, 4, 5}

In [266]:
myset1 = {1.79, 2.08, 3.99, 4.56, 5.45} # Set of float numbers
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [267]:
myset2 = {'Miranda', 'João', 'Tiago'}  # Set of Strings
myset2

{'João', 'Miranda', 'Tiago'}

In [268]:
myset3 = {10, 20, "Hola", (11, 22, 32)}# Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [269]:
myset3 = {10, 20, "Hola", [11, 22, 32]}# set doesn't allow mutable items like lis
myset3

TypeError: unhashable type: 'list'

In [270]:
myset4 = set() # Create an empty set
print(type(myset4))

<class 'set'>

In [271]:
my_set1 = set(('one', 'two',
               'three','four'))
my_set1

{'four', 'one', 'three', 'two'}

#### Loop through a Set

In [272]:
myset = {'one','two',
         'three','four'
         ,'five','six'
         ,'seven','eight'}

for i in myset:
    print(i)

three
two
six
eight
five
one
seven
four

In [273]:
for i in enumerate(myset):
    print(i)

(0, 'three')
(1, 'two')
(2, 'six')
(3, 'eight')
(4, 'five')
(5, 'one')
(6, 'seven')
(7, 'four')

#### Set Membership

In [274]:
my_set

{1, 2, 3, 4, 5}

In [275]:
"one" in my_set # check if 'one' exist

False

In [276]:
"ten" in my_set # check if 'ten' exist

False

In [277]:
if 'three' in myset : # Check if 'three' exist in the set
    print('Three is present in the set')
else:
    print('Three is not present in the set')

Three is present in the set

In [278]:
if 'eleven' in myset : # Check if 'eleven' exist in the list
    print('eleven is present in the set')
else:
    print('eleven is not present in the set')

eleven is not present in the set

#### Add & Remove Items

In [279]:
my_set

{1, 2, 3, 4, 5}

In [280]:
myset.add('NINE') # Add item to a set using add() method
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [281]:
myset.update(['TEN', 'ELEVEN', 'TWELVE']) # Add multiple item to a set using u
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [282]:
myset.remove('NINE') # remove item in a set using remove() method
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [283]:
myset.discard('TEN') # remove item from a set using discard() method
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [284]:
myset.clear()# Delete all items in a set
myset

set()

In [285]:
del myset # Delete the set object

In [286]:
myset

NameError: name 'myset' is not defined

#### Copy Set

In [287]:
myset = {'one','two',
         'three' ,'four',
         'five', 'six',
         'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [288]:
myset1 = myset # Create a new reference "myset1"
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [289]:
id(myset) ,id(myset1) # The address

(2109596458720, 2109596458720)

In [290]:
my_set = myset.copy() # Create a copy of the list
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [291]:
id(my_set) # The address of my_set

2109596460064

In [292]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [293]:
myset1

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [294]:
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

#### Set Operation

In [295]:
# Union
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
C = {8, 9, 10}

In [296]:
A | B  # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [297]:
A.union(B) # Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [298]:
A.union(B, C) # Union of A, B and C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [299]:
A.update(B, C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [300]:
# Intersection
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [301]:
A & B # Intersection of A and B (Common items in both sets)

{4, 5}

In [302]:
A.intersection(B) Intersection of A and B

SyntaxError: invalid syntax (3871018507.py, line 1)

In [303]:
A.intersection_update(B)
A

{4, 5}

In [304]:
# Difference
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [305]:
A - B # set of elements that are only in A but not in B

{1, 2, 3}

In [306]:
A.difference(B) # Difference of sets

{1, 2, 3}

In [307]:
B - A # set of elements that are only in B but not in A

{6, 7, 8}

In [308]:
B.difference(A)

{6, 7, 8}

In [309]:
B.difference_update(A)
B

{6, 7, 8}

In [310]:
# Symmetric Difference
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [311]:
A ^ B # Symmetric difference (Set of elements in A and B but not in both.)

{1, 2, 3, 6, 7, 8}

In [312]:
A.symmetric_difference(B) # Symmetric difference of sets

{1, 2, 3, 6, 7, 8}

In [313]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

In [314]:
# Subset , Superset & Disjoint
A={1, 2, 3, 4, 5, 6, 7, 8, 9}
B={3, 4, 5, 6, 7, 8}
C={10, 20, 30, 40}

In [315]:
B.issubset(A)

True

In [316]:
A.issuperset(B)

True

In [317]:
C.isdisjoint(A)

True

In [318]:
B.isdisjoint(A)

False

#### Other Builtin functions

In [319]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [320]:
sum(A)

45

In [321]:
max(A)

9

In [322]:
min(A)

1

In [323]:
len(A)

9

In [324]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [325]:
D = sorted(A, reverse = True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [326]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Dictionary

#### Create Dictionary

In [327]:
mydict = dict() # empty dictionary
mydict

{}

In [328]:
mydict = {} # empty dictionary
mydict

{}

In [329]:
mydict = {1: 'one',
          2: 'two',
          3: 'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [330]:
mydict = dict({1: 'one',
               2: 'two',
               3: 'three'}) # Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [331]:
mydict = {'A': 'one',
          'B':'two',
          'C':'three'} # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [332]:
mydict = {1:'one',
          'A':'two',
          3:'three'
          } # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [333]:
mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [334]:
mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [335]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [336]:
mydict = {1: 'one',
          2: 'two',
          'A': ['Miranda',
                'joão',
                'Maria'
                ]
          } # dictionary with
mydict

{1: 'one', 2: 'two', 'A': ['Miranda', 'joão', 'Maria']}

In [337]:
mydict = {1: 'one',
          2: 'two',
          'A': ['Miranda',
                'joão',
                'Maria'
                ],
          'B':('Bat',
               'cat',
               'hat'
               )
          }
mydict

{1: 'one',
 2: 'two',
 'A': ['Miranda', 'joão', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [338]:
keys = {'a', 'b', 'c', 'd'}

mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict3

{'c': None, 'a': None, 'd': None, 'b': None}

In [339]:
keys = {'a', 'b', 'c', 'd'}
value = 10
mydict3 = dict.fromkeys(keys, value) 
mydict3

{'c': 10, 'a': 10, 'd': 10, 'b': 10}

In [340]:
keys = {'a', 'b', 'c', 'd'}
value = [10, 20, 30]
mydict3 = dict.fromkeys(keys, value) # Create a dictionary from a sequence of k
mydict3

{'c': [10, 20, 30], 'a': [10, 20, 30], 'd': [10, 20, 30], 'b': [10, 20, 30]}

In [341]:
value.append(40)
mydict3

{'c': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'b': [10, 20, 30, 40]}

#### Accessing Items

In [342]:
mydict = {1: 'one', 
          2: 'two', 
          3: 'three', 
          4: 'four'
          }

In [343]:
mydict[1] # Access item using key

'one'

In [344]:
mydict.get(1) # Access item using get() method

'one'

In [345]:
mydict1 = {'Name': 'Miranda', 
           'ID': 74523, 
           'DOB': 1993, 
           'job': 'Scientist'
           }

In [346]:
mydict1['Name'] # Access item using key

'Miranda'

In [347]:
mydict1.get('job') # Access item using get() method

'Scientist'

#### Add, Remove & Change Items

In [348]:
mydict1 = {'Name': 'Miranda', 
           'ID': 74523, 
           'DOB': 1993, 
           'job': 'Scientist',
           'Address': 'Miami'}

In [349]:
mydict1

{'Name': 'Miranda',
 'ID': 74523,
 'DOB': 1993,
 'job': 'Scientist',
 'Address': 'Miami'}

In [350]:
mydict1['DOB'] = 1992 # Changing Dictionary Items
mydict1['Address'] = 'São Paulo'
mydict1

{'Name': 'Miranda',
 'ID': 74523,
 'DOB': 1992,
 'job': 'Scientist',
 'Address': 'São Paulo'}

In [351]:
dict1 = {'DOB': 1996}
mydict1.update(dict1)
mydict1

{'Name': 'Miranda',
 'ID': 74523,
 'DOB': 1996,
 'job': 'Scientist',
 'Address': 'São Paulo'}

In [352]:
mydict1['Job'] = 'Doctor' # Adding items in the dictionary
mydict1

{'Name': 'Miranda',
 'ID': 74523,
 'DOB': 1996,
 'job': 'Scientist',
 'Address': 'São Paulo',
 'Job': 'Doctor'}

In [353]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method
mydict1

{'Name': 'Miranda',
 'ID': 74523,
 'DOB': 1996,
 'job': 'Scientist',
 'Address': 'São Paulo'}

In [354]:
mydict1.popitem() # A random item is removed

('Address', 'São Paulo')

In [355]:
mydict1

{'Name': 'Miranda', 'ID': 74523, 'DOB': 1996, 'job': 'Scientist'}

In [356]:
del [mydict1['ID']] # Removing item using del method
mydict1

{'Name': 'Miranda', 'DOB': 1996, 'job': 'Scientist'}

In [357]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

In [358]:
del mydict1 # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

#### Copy Dictionary

In [359]:
mydict = {'Name': 'Miranda',
          'ID': 12345,
          'DOB': 1997, 
          'Address': 'Salvaor'
          }

In [360]:
mydict1 = mydict # Create a new reference "mydict1"

In [361]:
id(mydict) ,id(mydict1)

(2109597528704, 2109597528704)

In [362]:
mydict2 = mydict.copy()

In [363]:
id(mydict2)

2109597770432

In [364]:
mydict['Address'] = 'Recife'

In [365]:
mydict

{'Name': 'Miranda', 'ID': 12345, 'DOB': 1997, 'Address': 'Recife'}

In [366]:
mydict1

{'Name': 'Miranda', 'ID': 12345, 'DOB': 1997, 'Address': 'Recife'}

In [367]:
mydict2

{'Name': 'Miranda', 'ID': 12345, 'DOB': 1997, 'Address': 'Salvaor'}

#### Loop through a Dictionary

In [ ]:
mydict1 = {'Name': 'Miranda', 
           'ID': 12345, 
           'DOB': 1991,
           'Address': 'Hilsinki', 
           'Job': 'Pilot'}

In [ ]:
for i in mydict1:
    print(i, ':', mydict1[i]) # Key & value pair

In [ ]:
for i in mydict1:
    print(mydict1[i]) # Dictionary items

#### Dictionary Membership

In [ ]:
mydict1 = {'Name': 'Miranda', 
           'ID': 12345, 
           'DOB': 1991, 
           'Job': 'Pilot'}

my_set1

In [ ]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

In [ ]:
'Miranda' in mydict1 # Membership test can be only done for keys.

In [ ]:
'ID' in mydict1

In [ ]:
'Address' in mydict1

##### All / Any

In [ ]:
mydict1 = {'Name': 'Miranda', 
           'ID': 12345, 
           'DOB': 1991, 
           'Job': 'Pilot'}

my_set1

In [ ]:
all(mydict1) # Will Return false as one value is false (Value 0)

In [ ]:
any(mydict1)

In [ ]:
mydict1[0] = 'test1'
mydict1

In [ ]:
all(mydict1)

In [ ]:
any(mydict1)

##### Dictionary Comprehension

In [45]:
txt = """
a
=
'Asif'
b
=
'Bhat'
c
=
'Asif'
a
==
b
,
a
==
c
,
a
!=
b
# Comparison operators on string
"""

new = txt.replace("\n", "")
new = new.replace('=', ' = ')
new = new.replace('#', ' # ')

print(new)

a = 'Asif'b = 'Bhat'c = 'Asif'a =  = b,a =  = c,a! = b #  Comparison operators on string

In [12]:
double = {i:i *2 for i in range(10)} #double each value using dict comprehensiondouble

asvbaçkasnausbhaqasnadhao]asna

In [ ]:
square = {i:i **2 for i in range(10)}
square

In [ ]:
key = ['one','two','three','four','five']
value = [1,2,3,4,5]

mydict = {k:v for(k,v) in zip(key,value)}# using dict comprehension to create
mydict

In [ ]:
mydict1 = {'a':10,'b':20,'c':30,'d':40,'e':50}
mydict1 = {k:v/10 for(k,v)in mydict1.items()}
mydict

In [ ]:
str1 = "Natural Language Processing"
mydict2 = {k:v for(k,v) in enumerate(str1)}
mydict2

In [ ]:
str1 = "abcdefghijklmnopqrstuvwxyz"
mydict3 = {i:i.upper()for i in str1} #  Lower to Upper Casemydict3

#### Word Frequency using dictionary

In [ ]:
mystr4 = 'one two three four one two two three five five six seven six seven one one one ten eight ten nine eleven ten ten nine'

In [ ]:
mylist = mystr4.split() #  Split String into substrings
mylist

In [ ]:
mylist1 = set(mylist) #  Unique values in a list
mylist1 = list(mylist1)
mylist1

In [ ]:
#  Calculate frequenct of each word
count1 = [0]*len(mylist1)
mydict5 = dict()
for i in range(len(mylist1)):
    for j in range(len(mylist)):
        if mylist1[i] == mylist[j]:
            count1[i]+= 1
    mydict5[mylist1[i]] = count1[i]
print(mydict5)

#### Operators

##### Arithmetic Operators

In [43]:
a = 5
b = 2
x = 'Miranda'
y = 'Sants' 

#  Addition
c = a + b
print('Addition of {} and {} will give :- {}'.format(a, b, c)) 

# Concatenate string using plus operator
z = x + y 
print('Concatenate string ',x,' and ',y,' using '+' operaotr :- {}'.format(z))

#  Subtraction
c = a - b
print('Subtracting {} from {} will give :- {}'.format(b,a,c)) 

#  Multiplication
c = a * b
print('Multiplying {} and {} will give :- {}'.format(a,b,c)) 

#  Division
c = a / b
print('Dividing {} by {} will give :- {}'.format(a,b,c))

#  Modulo of both number
c = a % b
print('Modulo of {} , {} will give :- {}'.format(a,b,c)) 

#  Power
c = a ** b
print('{} raised to the power {} will give :- {}'.format(a,b,c)) 

#  Division(floor)
c = a // b
print('Floor division of {} by {} will give :- {}'.format(a,b,c))

Addition of 5 and 2 will give :- 7
Concatenate string  Miranda  and  Sants  using  operaotr :-MirandaSants
Subtracting 2 from 5 will give :- 3
Multiplying 5 and 2 will give :- 10
Dividing 5 by 2 will give :- 2.5
Modulo of 5 , 2 will give :- 1
5 raised to the power 2 will give :- 25
Floor division of 5 by 2 will give :- 2

##### Comparison Operators

In [ ]:
x = 20
y = 30
print('Is x greater than y :- ', x > y)

print('Is x less than y :- ', x < y)

print('Is x equal to y :- ', x == y)

print('Is x not equal to y :- ', x != y)

print('Is x greater than or equal to y :- ', x >= y)

print('Is x less than or equal to y :- ', x <= y)

In [46]:
a = 'Marcos'
b = 'Ruan'
c = 'Marcos'
a == b, a == c, a != b #  Comparison operators on string

(False, True, True)

##### Logical Operators

In [368]:
%reload_ext watermark
%watermark -a "Caique Miranda" -gu "caiquemiranda" -iv

Author: Caique Miranda

Github username: caiquemiranda

sys: 3.10.5 (tags/v3.10.5:f377153, Jun  6 2022, 16:14:13) [MSC v.1929 64 bit (AMD64)]

### End.